<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <title>PlanHub | En construction</title> <!--A changer selon la page-->
</head>

<body>
    <main class="container">
        <h1>PlanHub</h1>
        <p>page en contruction...</p>
    </main>
</body>

</html>