<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <title>PlanHub | Join</title>
        <script src="../js/join.js"></script>
</head>

<body class="bg-white">
    <header class="border-bottom">
        <%- include('../partials/header-join'); %>
    </header>
    <main>
        <div id="card-join-parent">
            <div id="card-join">
                <img class="loading" id="loading" src="../gif/loading.gif" alt="loading.gif">
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer-join'); %>
    </footer>
</body>

</html>