<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <title>PlanHub | Join</title>
    </head>
    <body>
        <main>
            <h1>Connexion</h1>
        </main>
    </body>
</html>