<div class="container-fluid">
    <div class="text-center row">
        <div class="col-6">
            <!-- <img id="logo-app-footer" src="../images/planhub_logo.png" alt="Logo PlanHub noir"> -->
            <p>Cette application a été créée par Alexandre Vachon et Guillaume Blais</p>
        </div>
        <div class="col-6">
            <p>Copyright ©</p>
        </div>
    </div>
</div>