    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- <img id="logo-app-footer" src="../images/planhub_logo.png" alt="Logo PlanHub noir"> -->
                <p>Ajouter contenu</p>
            </div>
        </div>
    </div>