<header class="bg-dark border-bottom bg-gradient">
  <div class="d-flex justify-content-between align-items-center">
      <div>
          <a href="/"><img id="logo-app" src="/images/planhub_logo(white).png" alt="Logo PlanHub noir" style="width: 50%; height: auto;"></a>
      </div>
      <div id="suggestions">
        <div>
          <form id="form-recherche" class="d-flex">
            <input id="barre-recherche" class="form-control me-sm-2" type="search" placeholder="Trouver une tâche">          
            <img action="submit" id="search" src="/images/search.png" alt="search">
            <img id="filter" src="/images/filter.png" alt="filter">
          </form>
        </div>
        <div id="div-suggestions" class="suggestions masquer"></div>
      </div>
      <div>
          <ul class="nav nav-pills">
              <li class="nav-item">
                  <a><img id="alert" src="/images/notification.png" alt="Alerte"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Option</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Compte</a>
                  <ul class="dropdown-menu bg-secondary">
                    <li><a class="dropdown-item" href="#">Profil</a></li>
                    <li><a class="dropdown-item" href="/projects">Vos projets</a></li>
                    <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                  </ul>
              </li>
            </ul>
      </div>
  </div>
</header>